@charset "UTF-8";

:root {
    --main-color-one: rgba(0, 0, 0, 1);
    --main-color-two: rgba(243, 53, 0, .8);
    --main-color-there: rgba(0, 35, 105, 1);
    --main-color-five: rgba(255, 255, 255, 1);
    --secondary-color: #2c3e50;
    --heading-color: #111;
    --paragraph-color: #7e7e7e;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Poppins", sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    font-family: var(--body-font)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
